{% extends "static/app.twig" %}

{% block head %}
    {% include "static/head.twig" %}
{% endblock %}

{% block content %}
    <ul>
        <li><a href="consol">Konsola</a></li>
        <li><a href="account/log_out">wyloguj</a></li>
    </ul>
    <br>
{% endblock %}

{% block footer %}
    {% include "static/footer.twig" %}
{% endblock %}